.dashboard-container {
  text-align: center;
  padding: 50px;
  background-color: #f0e5e5;
}

.dashboard-title {
  font-size: 36px;
  margin-bottom: 40px;
  color: #333;
}

.dashboard-options {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.dashboard-link {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  color: white;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.dashboard-link:hover {
  background-color: #0056b3;
}

.dashboard-container img {
  padding: 10px;
  margin: 20px;
  transform: scale(1.1);
  max-width: 100%; /* Ensures images are responsive */
  height: auto;
}

.dashboard-container h1 {
  color:  rgba(74, 74, 75, 0.925);
}

.img-2 {
  background-size: 100vw;
  margin: 1px;
  text-align: center;
  background-color: #f0e5e5;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .dashboard-container {
    padding: 30px;
  }

  .dashboard-title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .dashboard-link {
    padding: 12px 25px;
    font-size: 16px;
  }

  .dashboard-options {
    gap: 15px;
    flex-direction: column; /* Stack options vertically on smaller screens */
  }

  .img-2 {
    margin-left: 0; /* Adjust left margin for smaller screens */
  }
}

@media (max-width: 480px) {
  .dashboard-container {
    padding: 20px;
  }

  .dashboard-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .dashboard-link {
    padding: 10px 20px;
    font-size: 14px;
  }

  .img-2 {
    margin-left: 25px;
    background-size: 100vw;
  }
}
